<!DOCTYPE html>

<html >
    <head>
        <meta charset="utf-8">
        
        <title>KnowHere</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animations.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="lib/angular.min.js"></script>
    	<script src="js/app.js"></script>
		
    </head>
    <body class="frontpage top2"><div id="top"></div>

    <header id="header">
        <div class="container">
            <div class="row">
            

                <div class="col-sm-12 mainmenu_wrap">
                    <a class="navbar-brand" href="index.html">
                        <img src="example/logo.png" alt="">
                    </a>
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav>
                        <ul id="mainmenu" class="nav menu sf-menu responsive-menu superfish">
                            <li class="active">
                                <a href="#top">Inicio</a>
                            </li>
                            <li class="">
                                <a href="#info">Servicios</a>
                            </li>
                            <li class="">
                                <a href="#features">App</a>
                                
                            </li>
                            <li class="">
                                <a href="#team">Equipo</a>
                                
                            </li>
                            <li class="">
                                <a href="#footer">Contacto</a>
                            </li>
                            
                                   
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
  
  
   

    <section id="mainslider" class="color_section bg_image gradient">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="example/bg3know.png" alt="">
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
           
                            <h3 data-animation="slideExpandUp">Siempre tenemos</h3>
                            <h3 data-animation="bigEntrance"><span class="bgt">un Lugar reservado</span> <span class="grey">¡para ti!</span></h3>
                            <p class="read-more" data-animation="stretchRight">
                                <button type="button" class="btn btn-default btn-lg login3">
    <a href="#footer">Registrarse</a>
</button>
                            </p>
                        </div>
                    </div> 
                </li>
               
            </ul>
        </div>
    </section>


    <section id="info" class="grey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="block-header to_animate" data-animation="bounce" data-delay="100">Nuestros servicios</h2>
                    <div class="to_animate" data-animation="pullUp" data-delay="100">Nuestro compromiso es ahorrarte tiempo que es muy valioso para nosotros.</div>
                </div>
            </div>
            <div class="row">
                <div class="block col-sm-4 to_animate" data-animation="fadeInLeft" data-delay="200">
                    <div class="single_teaser icons style1">
                        <div class="icons_introimg image-icon">
                            <i class="rt-icon-briefcase"></i>
                        </div>
                        <h3><a href="#">Gana Dinero</a></h3>
                        <p class="introtext">¿Tienes un espacio que no usas y quieres ganar dinero extra? con nosotros lo lograras.</p>
                    </div>
                </div>      
                <div class="block col-sm-4 to_animate" data-animation="fadeInUp" data-delay="200">
                    <div class="single_teaser icons style1">
                        <div class="icons_introimg image-icon">
                            <i class="rt-icon-picture"></i>
                        </div>
                        <h3><a href="#">Estacionamiento</a></h3>
                        <p class="introtext">Estas cansado de dar y dar vueltas buscando un lugar para tu carro con KnowHere olvidate de eso.</p>
                    </div>
                </div>      
                <div class="block col-sm-4 to_animate" data-animation="fadeInRight" data-delay="200">
                    <div class="single_teaser icons style1">
                        <div class="icons_introimg image-icon">
                            <i class="rt-icon-light-bulb"></i>
                        </div>
                        <h3><a href="#">Ahorra Tiempo</a></h3>
                        <p class="introtext">La App es muy facil y rapida de usar en unos segundos encontraras un estacionamiento.</p>
                    </div>
                </div>      

            </div>
        </div>
    </section>

    


    <section id="features" class="color_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="pre-block-header to_animate" data-animation="slideRight">Conoce nuestra aplicacion</p>
                    <h2 class="block-header text-center to_animate" data-animation="hatch">características</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="icon-header right to_animate" data-animation="fadeInLeft"><i class="rt-icon-params"></i> Diseño Intuitivo</h3>
                    <h3 class="icon-header right to_animate" data-animation="fadeInLeft"><i class="rt-icon-bubble"></i> Registro con Facebook</h3>
                    <h3 class="icon-header right to_animate" data-animation="fadeInLeft"><i class="rt-icon-wallet"></i> Facil Busqueda</h3>
                </div>

                <div class="col-md-4 col-md-push-4">
                    <h3 class="icon-header to_animate" data-animation="fadeInRight"><i class="rt-icon-paperplane"></i> Paga con MasterCard</h3>
                    <h3 class="icon-header to_animate" data-animation="fadeInRight"><i class="rt-icon-phone2"></i> Disponible para Android</h3>
                    <h3 class="icon-header to_animate" data-animation="fadeInRight"><i class="rt-icon-display"></i> Gana Dinero</h3>
                </div>

                <div class="col-md-4 col-md-pull-4 features_image to_animate" data-animation="slideUp">
                    <img src="example/iphone.png" alt="">
                </div>

            </div>
        </div>
    </section>
    <section id="middle" class="light_section">
      <div class="container">
        <div class="row gallery-single">
          <div class="col-sm-12">
            <h2 class="block-header"><span class="grey">DETALLES</span> DEL PROYECTO</h2>
          </div>
          <div class="col-sm-7">
            <div id="carousel-generic" class="carousel slide">
            
             
                <div class="item active"> <img src="example/blog-post.jpg" alt="image"> </div>
               
              
           
               </div>
          </div>
          <div class="col-sm-5 block">
            <h4 class="grey">¿que es knowhere?</h4>
            <p class="description"> una aplicación que pone a disposición de nuestros clientes

los espacios privados de estacionamiento de nuestros socios. Todo funciona de manera sencilla: un lugar
es registrado por un socio, ese lugar es después apartado por un cliente mediante el sitio web o la
aplicación móvil. </p>
            <p class="skills"><span>¿Como se reserva?:</span> Aplicación móvil, Sitio Web.</p>
            <p class="client"><span>Pais:</span> <a href="#">México</a></p>
            <p class="location"><span>Mas Informacion:</span> <a href="#">www.knowhere.mx</a></p>
      
          </div>
        </div>
      </div>
    </section>
    <footer id="footer" class="grey_section parallax bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="pre-block-header">Quieres mas informacion</p>
                    <h2 class="block-header text-center to_animate" data-animation="slideUp">Registrate ahora</h2>
                    <p>se de las primeras personas en hacer parte de Knowhere y disfrutade muchos beneficion</p>
                    <p id="social">
                        <a class="socialico-facebook" href="#" title="Facebook">#</a>
                        <a class="socialico-twitter" href="#" title="Twitter">#</a>
                        <a class="socialico-google" href="#" title="Google">#</a>
                        <a class="socialico-linkedin" href="#" title="Lindedin">#</a>            
                    </p>
                </div>
            </div>
            <div class="row" ng-app="myApp" ng-controller="MyController">
					
				<form name="formRegistro"  ng-submit="SaveAndNext()" >
					<div class="block col-sm-6 col-sm-push-3 to_animate registrate" data-animation="slideExpandUp">
					<h1 id="reds">Registro</h1>
                   
					  <div class="input-group"  style=" margin-bottom:10px;">
						  <span class="input-group-addon" id="basic-addon1">●</span>
						  <input type="text" class="form-control" placeholder="Nombre" ng-model="name" aria-describedby="basic-addon1"  required> 
					  </div>
					  
					  <div class="input-group"  style=" margin-bottom:10px;">
					  <span class="input-group-addon" id="basic-addon1">●</span>
					  <input type="text" class="form-control" placeholder="Apellidos" aria-describedby="basic-addon1" ng-model="lastname" required>
					  </div>  
					  
					  <div class="input-group"  style=" margin-bottom:10px;">
					  <span class="input-group-addon" id="basic-addon1">●</span>
					  <input type="text" class="form-control" placeholder="Telefono o Celular" aria-describedby="basic-addon1" ng-model="phone" required>
					  </div>
													   
					  <div class="input-group"  style=" margin-bottom:10px;">
					  <span class="input-group-addon" id="basic-addon1">●</span>
					  <input type="email" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1" ng-model="email" required>
					  </div>
					  
					  <div class="input-group"  style=" margin-bottom:10px;">
					  <span  ><input type="checkbox"  ng-model="offers" ng-init='checkStatus=false'> Necesito un estacionamiento</span>
					  
					  </div>
					  
					  <div class="input-group"  style=" margin-bottom:10px;">
					  <span  id="basic-addon1"><input type="checkbox" ng-model="needs" ng-init='checkStatus=false'> Quiero rentar mi estacionamiento</span>
					  
					  </div>
					  <input type="submit" value="Registrarse" id="contact_form_submit" name="contact_submit"   class="btn btn-default btn-lg login login2"	>
					  <p style="color:Green;">{{Success}}</p>
					<p style="color:Red;">{{Error}}</p>
					
                    
                </div>
				</form>
            </div>
      </div>
    </footer>
 

    <section id="copyright" class="darkgrey_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>
                        <a class="navbar-brand" href="index.html">
                            <img src="example/logo_bottom.png" alt="">
                        </a>
                    </p>
                    <p>&copy; Copyright 2015 - KnowHere
                </div>
            </div>
        </div>
    </section>
 

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>

        <script src="js/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/vendor/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        
        <script src="js/vendor/hoverIntent.js"></script>
        <script src="js/vendor/superfish.js"></script>
        <script src="js/vendor/jquery.actual.min.js"></script>
        <script src="js/vendor/jquery.appear.js"></script>
        <script src="js/vendor/jquerypp.custom.js"></script>
        <script src="js/vendor/jquery.elastislide.js"></script>
        <script src="js/vendor/jquery.flexslider-min.js"></script>
        <script src="js/vendor/jquery.prettyPhoto.js"></script>
        <script src="js/vendor/jquery.easing.1.3.js"></script>
        <script src="js/vendor/jquery.ui.totop.js"></script>
        <script src="js/vendor/jquery.isotope.min.js"></script>
        <script src="js/vendor/jquery.easypiechart.min.js"></script>
        <script src='js/vendor/jflickrfeed.min.js'></script>
        <script src="js/vendor/jquery.sticky.js"></script>
        <script src='js/vendor/owl.carousel.min.js'></script>
        <script src='js/vendor/jquery.nicescroll.min.js'></script>
        <script src='js/vendor/jquery.fractionslider.min.js'></script>
        <script src='js/vendor/jquery.scrollTo-min.js'></script>
        <script src='js/vendor/jquery.localscroll-min.js'></script>
        <script src='js/vendor/jquery.parallax-1.1.3.js'></script>
        <script src='js/vendor/jquery.bxslider.min.js'></script>
        <script src='js/vendor/jquery.funnyText.min.js'></script>
        <script src='js/vendor/jquery.countTo.js'></script>
        <script src="js/vendor/grid.js"></script>
       
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-70511607-1', 'auto');
		  ga('send', 'pageview');

		</script>

    </body>
</html>